<%= form_for(@panel_page_index) do |f| %>
  <% if @panel_page_index.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel_page_index.errors.count, "error") %> prohibited this panel_page_index from being saved:</h2>

      <ul>
      <% @panel_page_index.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-sm-12">  
    <div>
      <%= f.label 'título do painel' %><br>
      <%= f.text_field :title_panel, class: 'form form-control' %>
    </div>
    <div>
      <%= f.label 'título do painel' %><br>
      <%= f.text_area :body_panel, class: 'form form-control' %>
    </div><br>
    <div class="actions">
    <%= f.submit "salvar", class: 'btn btn-primary' %> | <%= link_to 'voltar', panel_page_indices_path %>
  </div>
  </div>
    
  
<% end %>
