<p id="notice"><%= notice %></p>

<div class="col-sm-12">
<h1>Paineis cadastrados na página index</h1>
<%= link_to 'novo painel', new_panel_page_index_path , class: 'btn btn-primary col-sm-3 col-sm-offset-8' %>
  <br><br>
  <table class="table table-striped well">
    <thead>
      <tr>
        <th></th>
        <th>Título</th>
        <th>Corpo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @panel_page_indices.each do |panel_page_index| %>
        <tr>
          <td></td>
          <td><%= panel_page_index.title_panel %></td>
          <td><%= panel_page_index.body_panel %></td>
          <td><%#= link_to 'exibir', panel_page_index, class: 'btn btn-info btn-xs' %></td>
          <td><%= link_to 'editar', edit_panel_page_index_path(panel_page_index), class: 'btn btn-info btn-xs' %>
          <%= link_to 'excluir', panel_page_index, method: :delete, data: { confirm: 'quer mesmo deletar?' }, class: 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

