<p id="notice"><%= notice %></p>

<h1>Listing Page Indices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_indices.each do |page_index| %>
      <tr>
        <td><%= link_to 'Show', page_index %></td>
        <td><%= link_to 'Edit', edit_page_index_path(page_index) %></td>
        <td><%= link_to 'Destroy', page_index, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page index', new_page_index_path %>
