/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.green-li {
  border-bottom: #005C1F 2px solid;
}

.green-li:hover {
  background-color: #005C1F
}

.red-li {
  border-bottom: #8F0000 2px solid;
}

.red-li:hover {
  background-color: #8F0000
}

.blue-li {
  border-bottom: #0052CC 2px solid;
}

.blue-li:hover {
  background-color: #0052CC
}

.orange-li {
  border-bottom: orange 2px solid;
}

.orange-li:hover {
  background-color: orange
}

.light-green-li {
  border-bottom: #00B200 2px solid;
}

.light-green-li:hover {
  background-color: #00B200
}



