<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SemedTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #FFF;border: none;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" src="" href="<%= root_path %>" >SEMED</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="red-li">
                        <%=  link_to 'Início' , root_path %>
                    </li>
                    <li class="light-green-li">
                        <%=  link_to 'Sobre' , home_about_path %>
                    </li>
                    <li class="green-li">
                        <%=  link_to 'Serviços' , home_services_path %>
                    </li>
                    <li class="orange-li">
                        <%=  link_to 'Contato' , home_contact_path %>
                    </li>
                    <!-- <li class="blue-li">-->
                        <%#=  link_to 'Projetos' , home_portfolio_path %>
                   <!-- </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<%= yield %>

  <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
  </script>
</body>
</html>
